langchain
langchain-core
langchain-community
langgraph
langchain-groq
chainlit
sqlalchemy
python-dotenv
langsmith
tensorflow
pymssql
requests
numpy
pandas
matplotlib
seaborn
tqdm
scikit-learn
streamlit
gradio-client